$dark: #40474f;
$light-grey: #eee;
$mid-grey: #eceeef;
$black: #191919;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

.btn {
  padding: 1rem;
  font-size: 1rem;
  display: inline-block;
  &[disabled] {
    background: $mid-grey;
    border: none;
    &:hover {
      background: $mid-grey;
      color: white;
      cursor: not-allowed;
    }
  }
  &-light {
    background: white;
    border: 1px solid $dark;
    &:hover {
      background: $dark;
      color: $light-grey;
      cursor: pointer;
    }
  }
  &-dark {
    background: $dark;
    color: white;
    &:hover {
      background: white;
      color: $dark;
      cursor: pointer;
    }
  }
}

.my-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

#root {
  font-family: 'Nunito Sans', sans-serif;
  color: $black;
}

.screen {
  &__title {
    font-size: 2.5rem;
    margin: 1rem 9px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#Header {
  .navbar {
    background: $dark;
    height: 80px;
    font-size: 1.5rem;
    .container {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
    }

    &__brand {
      margin-left: 9px;
    }

    &__group {
      &--right {
        margin-right: 1rem;
        font-size: 1.1rem;

        a {
          margin-left: 1rem;
        }
      }
    }
    a {
      color: white;
    }
  }
}

#Footer {
  .container {
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

#HomeScreen {
  .container {
    min-height: 86vh;
  }
}

#ProductScreen {
  .container {
    min-height: 84.8vh;
    margin: 1rem 9px;
    .ProductScreen__grid {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-gap: 1rem;
      &--middle {
        .info {
          &__item {
            padding: 1rem 0;
            border-bottom: 1px solid $mid-grey;
            &--name {
              font-size: 2rem;
            }
            &--price {
              font-size: 1.5rem;
            }
            &--text {
              font-size: 1.2rem;
            }
            &:last-child {
              border: none;
            }
          }
        }
      }
      &--right {
        .sidebar {
          border: 1px solid $dark;
          &__item {
            width: 100%;
            border-bottom: 1px solid $dark;
            display: flex;
            justify-content: space-between;
            &:last-child {
              border: none;
            }
            &--price,
            &--status {
              margin: 1rem 1rem;
              font-size: 1.2rem;
            }
            .btn {
              margin: 1rem auto;
            }
          }
        }
      }
    }
  }
}

#Product {
  .card {
    height: 100%;
    width: 270px;
    border: 2px solid $light-grey;
    border-radius: 5px;
    margin: 0 auto;

    &__container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
    }

    &__link {
      &--top {
        width: 100%;
      }
    }

    &__img {
      width: 250px;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    &__text {
      &--h3 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        &.price {
          font-size: 1.5rem;
        }
      }
      &--div {
        margin-bottom: 1rem;
      }
    }
  }
}

//Import Media Queries
@import 'media';
