* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #191919;
}

.btn {
  padding: 1rem;
  font-size: 1rem;
  display: inline-block;
}

.btn[disabled] {
  background: #eceeef;
  border: none;
}

.btn[disabled]:hover {
  background: #eceeef;
  color: white;
  cursor: not-allowed;
}

.btn-light {
  background: white;
  border: 1px solid #40474f;
}

.btn-light:hover {
  background: #40474f;
  color: #eee;
  cursor: pointer;
}

.btn-dark {
  background: #40474f;
  color: white;
}

.btn-dark:hover {
  background: white;
  color: #40474f;
  cursor: pointer;
}

.my-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

#root {
  font-family: 'Nunito Sans', sans-serif;
  color: #191919;
}

.screen__title {
  font-size: 2.5rem;
  margin: 1rem 9px;
}

.screen__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#Header .navbar {
  background: #40474f;
  height: 80px;
  font-size: 1.5rem;
}

#Header .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Header .navbar__brand {
  margin-left: 9px;
}

#Header .navbar__group--right {
  margin-right: 1rem;
  font-size: 1.1rem;
}

#Header .navbar__group--right a {
  margin-left: 1rem;
}

#Header .navbar a {
  color: white;
}

#Footer .container {
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#HomeScreen .container,
#ProductScreen .container {
  min-height: 86vh;
}

#ProductScreen .container {
  margin: 1rem 9px;
}

#ProductScreen .container .ProductScreen__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1rem;
}

#ProductScreen .container .ProductScreen__grid--middle .info__item {
  padding: 1rem 0;
  border-bottom: 1px solid #eceeef;
}

#ProductScreen .container .ProductScreen__grid--middle .info__item--name {
  font-size: 2rem;
}

#ProductScreen .container .ProductScreen__grid--middle .info__item--price {
  font-size: 1.5rem;
}

#ProductScreen .container .ProductScreen__grid--middle .info__item--text {
  font-size: 1.2rem;
}

#ProductScreen .container .ProductScreen__grid--middle .info__item:last-child {
  border: none;
}

#ProductScreen .container .ProductScreen__grid--right .sidebar {
  border: 1px solid #40474f;
}

#ProductScreen .container .ProductScreen__grid--right .sidebar__item {
  width: 100%;
  border-bottom: 1px solid #40474f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ProductScreen .container .ProductScreen__grid--right .sidebar__item:last-child {
  border: none;
}

#ProductScreen .container .ProductScreen__grid--right .sidebar__item--price, #ProductScreen .container .ProductScreen__grid--right .sidebar__item--status {
  margin: 1rem 1rem;
  font-size: 1.2rem;
}

#ProductScreen .container .ProductScreen__grid--right .sidebar__item .btn {
  margin: 1rem auto;
}

#Product .card {
  height: 100%;
  width: 270px;
  border: 2px solid #eee;
  border-radius: 5px;
  margin: 0 auto;
}

#Product .card__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

#Product .card__link--top {
  width: 100%;
}

#Product .card__img {
  width: 250px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#Product .card__text--h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

#Product .card__text--h3.price {
  font-size: 1.5rem;
}

#Product .card__text--div {
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .screen__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  #Header .container {
    width: 900px;
  }
  #HomeScreen .container {
    width: 900px;
  }
}

@media (max-width: 900px) {
  .screen__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  #Header .container {
    width: 600px;
  }
  #HomeScreen .container {
    width: 600px;
  }
}

@media (max-width: 620px) {
  .screen__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screen__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  #Header .container {
    width: 400px;
  }
  #HomeScreen .container {
    width: 400px;
  }
  #Product .card {
    height: 100%;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 5px;
    margin: 0 auto;
  }
  #Product .card__container {
    width: 100%;
  }
  #Product .card__link--top {
    width: 100%;
  }
  #Product .card__img {
    width: 96%;
    margin: 0.5rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=index.css.map */